.logo-h {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAqFBMVEUAAABtbW1ubW1ubW1tbW1ubW1ubW1tbW1ubW1ubW1ubW1ubm1ubW1ubW1ubm5sbGxsbGxtbWxsbGwAAADoAQCUAAC/AQJtbW2xAQIUAABmZmbZAQHXAQFiYmJkZGRTU1NOTk5BQEDAAALqAQC5AQFGRUURERHLAQI0NDQxMDDiAQHJAQFQAAA5AAAWAADaAQHRAQGsAQGQAQBHR0cQDw+oAQKOAQEXAABC+0RMAAAAE3RSTlMAZfXJQDkTEQr433RiiIj433Ri84EKcQAAAUNJREFUOMuFk9l2gjAQQCOLsohLBx2MEJAiLrTubf//zxoEMXPA432de5JZmcrA6EmMAeukP9URRRQJRN3tt8KWp/FkC3e2Cdc8i8bNiViBwoo7phr/GMc5EPLYHipxXEOLNTaGOW7ixLDrX6xJDJ3ETpWpJ24gueyz8PwHcDiH2X4Gkhv37vVrVf4zfx4GB4BFsJz7s6oWrezHVMBDWBJBwl0p6IkiLKiQ6LL/uIM7lw5hhwNmIECTQ/YlyZ4CoMF6USOkof9ZcnwKokeEdFNyUl6IqDAvNkVRBERof+EH9AsDFSH7lgQ0ybLMpoqyzENwVMskjQq7GsVc8VrgLhlWWgthSobFRjyvx306l8LPKdv/giTno2phnDcLw0z7+mrlaoZ4fbG0jWF3rr2C6fD24RCsUcfpUfqujsijiNPjfXv+/5IUQ4ZkK7isAAAAAElFTkSuQmCC") no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

.yperk {
  color: #E78080;
}
.perk {
  color: #E70000;
}