name: PlatformIO Build All

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: Build All Environments (except ESP32-C6)
        run: pio run

      - name: Build ESP32-C6
        run: |
          pio run -e esp32c6

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Hyperk-Firmware-Pack
          path: release/
          if-no-files-found: error