name: PlatformIO Build All

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: Build All Environments
        run: |
          pio run -e esp32c3 -e esp32s3 -e esp32c6
          pio run -e esp32 -e esp32s2 -e esp8266          
          pio run -e pico -e pico2

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Hyperk-Firmware-Pack
          path: release/
          if-no-files-found: error