name: PlatformIO Build All

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio esptool

      - name: Build All Environments
        run: |
          pio run -e esp32c3 -e esp32s3 -e esp32c6 -e esp32c2 -e esp32c5
          pio run -e esp32 -e esp32s2 -e esp32-eth01 -e esp8266          
          pio run -e pico -e pico2

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Hyperk-Firmware-Pack
          path: release/
          if-no-files-found: error

      - name: Create Pre-release
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: release/*
          generate_release_notes: true
          draft: true
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}